<% form_for :image, @image, :url => images_path, :html => { :multipart => true } do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </div>
  <div class="field">
    <%= f.label :build %><br />
    <%= f.text_field :build %>
  </div>
  <div class="field">
    <%= f.label :page %><br />
    <%= f.text_field :page %>
  </div>
  <div class="field">
    <%= f.label :browser %><br />
    <%= f.text_field :browser %>
  </div>
  <div class="field">
    <%= f.label :image_file_name %><br />
    <%= f.text_field :image_file_name %>
  </div>
  <div class="field">
    <%= f.label :image_content_type %><br />
    <%= f.text_field :image_content_type %>
  </div>
  <div class="field">
    <%= f.label :image_file_size %><br />
    <%= f.text_field :image_file_size %>
  </div>
  <div class="field">
    <%= f.label :image_updated_at %><br />
    <%= f.text_field :image_updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
