<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @image.project %>
</p>

<p>
  <b>Build:</b>
  <%= @image.build %>
</p>

<p>
  <b>Page:</b>
  <%= @image.page %>
</p>

<p>
  <b>Browser:</b>
  <%= @image.browser %>
</p>

<p>
  <b>Image file name:</b>
  <%= @image.image_file_name %>
</p>

<p>
  <b>Image content type:</b>
  <%= @image.image_content_type %>
</p>

<p>
  <b>Image file size:</b>
  <%= @image.image_file_size %>
</p>

<p>
  <b>Image updated at:</b>
  <%= @image.image_updated_at %>
</p>

<p>
<%= image_tag @image.image.url(:medium) %>
<%= image_tag @image.image.url(:thumb) %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
