<div class="right">
	<%= link_to "<< Back To Builds", {:controller => 'gallery', :action => 'build_index', :projectname => @project_name} %>
</div>

<div class="projectheader">
	<%= @project_name %>
</div>

<div class="tablecontainer">

	<div class="tableparent clear">
		<p class="tableheader">Internet Explorer 7</p>	
		<% @ie7.find_each do |ie7| %>
			<div class="tablecell">
			<a href="<%= ie7.image.url %>" rel="example3">
				<%= image_tag ie7.image.url, :class=> "imagecell" %>
			</a>
			</div>
		<% end %>	
	</div>
	
	<div class="tableparent clear">
		<p class="tableheader">Internet Explorer 8</p>
		<% @ie8.find_each do |ie8| %>
			<div class="tablecell">
			<a href="<%= ie8.image.url %>" rel="example3">			
				<%= image_tag ie8.image.url, :class=> "imagecell" %>
			</a>
			</div>
		<% end %>	
	</div>
	
	<div class="tableparent clear">
		<p class="tableheader">Internet Explorer 9</p>
		<% @ie9.find_each do |ie9| %>
			<div class="tablecell">
			<a href="<%= ie9.image.url %>" rel="example3">				
				<%= image_tag ie9.image.url, :class=> "imagecell" %>
			</a>
			</div>
		<% end %>	
	</div>
	
	<div class="tableparent clear">
		<p class="tableheader">Firefox 3</p>
		<% @ff3.find_each do |ff3| %>
			<div class="tablecell">
			<a href="<%= ff3.image.url %>" rel="example3">				
				<%= image_tag ff3.image.url, :class=> "imagecell" %>
			</a>
			</div>
		<% end %>	
	</div>
	
	<div class="tableparent clear">
		<p class="tableheader">Firefox 4</p>
		<% @ff4.find_each do |ff4| %>
			<div class="tablecell">
			<a href="<%= ff4.image.url %>" rel="example3">				
				<%= image_tag ff4.image.url, :class=> "imagecell" %>
			</a>
			</div>
		<% end %>	
	</div>	
	
	<div class="tableparent clear">
		<p class="tableheader">Chrome</p>
		<% @chrome.find_each do |chrome| %>
			<div class="tablecell">
			<a href="<%= chrome.image.url %>" rel="example3">				
				<%= image_tag chrome.image.url, :class=> "imagecell" %>
			</a>
			</div>
		<% end %>	
	</div>		
		
	<div class="tableparent clear">
		<p class="tableheader">Safari</p>
		<% @safari.find_each do |safari| %>
			<div class="tablecell">
			<a href="<%= safari.image.url %>" rel="example3">				
				<%= image_tag safari.image.url, :class=> "imagecell" %>
			</a>
			</div>
		<% end %>	
	</div>
</div>
		
<div class="right">
	<%= link_to "<< Back To Builds", {:controller => 'gallery', :action => 'build_index', :projectname => @project_name} %>
</div>


