<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  
	<link href="http://oystatic.ignimgs.com/cache/css/c5/2b/c52b09e0d493becbce6e4a6fef964a71.css" media="screen" rel="stylesheet" type="text/css" />

	<script src="http://code.jquery.com/jquery-latest.js"></script>

  <body>
	  
	  <header id="ignHeaderHeader">
	      <div id="ignHeader" class="clear">
	          <div class="fixed">
	              <div id="ignHeader-userBar">
	                  <div class="container">
	                      <a href="http://www.ign.com"><span id="ignHeader-logo"></span></a>
	                  </div>
	                  <script type="text/javascript">try{ var evoRenderDomain=""; IGNheader.Init(); }catch(err){};</script>
	              </div>
	          </div>
	      </div>
	  </header>

    <%= yield %>

    
    <%= javascript_include_tag "application" %>
	
  </body>
</html>
