<script type="text/javascript">
	function showErrorField() {
    	document.getElementById('error_field').style.display = "block";
	}
	function hideErrorField() {
    	document.getElementById('error_field').style.display = "none";
	}
</script>
</br>
<div class="row">
	<h3><%= @status[:system]%></h3>
</div>

<%= form_for @status, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
<div id="js_form" class="row">
	<%= f.radio_button :status, "green", {onClick: "hideErrorField()"}%>
	<%= f.label(:status, "Normal", style: "display:inline" ) %>
	</br>
	<%= f.radio_button :status, "orange", {onClick: "showErrorField()"} %>
	<%= f.label(:status, "Partial Outage", style: "display:inline") %>
	</br>
	<%= f.radio_button :status, "red", {onClick: "showErrorField()"}  %>
	<%= f.label(:status, "Severe Outage", style: "display:inline") %>	
	</br>
	<div class="large-12 columns" id="error_field" style="<%= @error_field_display %>">	
		</br>
		<label>A non-techincal description of the outage and how it affects users</label>
 		<%= f.text_field :message %>
	</div>
	</br>
	<%= f.submit "Submit Status Update", class: "small button radius"%>
</div>
<% end %>
