<script type="text/javascript">
	function showErrorField() {
    	document.getElementById('error_field').style.display = "block";
	}
	function hideErrorField() {
    	document.getElementById('error_field').style.display = "none";
	}
</script>
</br>
<div class="row">
	<h2><%= @status[:system]%></h2>
</div>
</br>

<%= form_for @status, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
<div id="js_form" class="row">
	<%= f.radio_button :status, "green", {onClick: "hideErrorField()"} %>
	<%= f.label(:status, "Normal") %>
	<%= f.radio_button :status, "orange", {onClick: "showErrorField()"} %>
	<%= f.label(:status, "Partial Outage") %>
	<%= f.radio_button :status, "red", {onClick: "showErrorField()"}  %>
	<%= f.label(:status, "Severe Outage") %>	
	<div class="large-12 columns" id="error_field" style="<%= @error_field_display %>">	
		<label>A non-techincal description of the outage and how it affects users</label>
 		<%= f.text_field :message %>
	</div>
	<%= f.submit "Submit Status Update" %>
</div>
<% end %>
